@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');

@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.intro {
	height: 100%;
	width: 100%;
	margin: auto;
	background:url(https://static.pexels.com/photos/89869/pexels-photo-89869.jpeg), no-repeat 50%;
	display: table;
	top: 0;
	background-size: cover;
}

.intro .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.content {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 28%;
}

.con{
	text-align: center;
	font-family: 'Yantramanav', sans-serif;
	font-size: 300%;
	font-weight: 70;
}

.content h1 {
	font-family: 'Yantramanav', sans-serif;
	font-size: 600%;
	font-weight: 100;
	color: #e1efe9;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	font-size: 135;
	font-weight: 400;
	color: #3a6168;
	text-transform: uppercase;
	text-decoration: none;
	border: solid #3a6168;
	padding: 10px 20px;
	border-radius: 9px;
	transition: all 0.5s;
}

.btn:hover {
	color: #cbdfd6;
	border: solid #cbdfd6;
}

p {
	font-size: 125%;
	line-height: 120%;
	color: #4b514f;
	font-family: sans-serif;
	padding: 2px 40px 10px 60px;
	
}

/*--- Media Queries --*/
@media screen and (max-width: 900px) {
	.content {
		padding-bottom: 30%;
	}
	.content h1 {
		font-size: 450%;
	}
	.btn {
		font-size: 130%;
		padding: 9px 17px;
	}
}

@media screen and (max-width: 768px) {
	.content {
		padding-bottom: 40%;
	}
	.content h1 {
		font-size: 300%;
	}
	.btn {
		font-size: 110%;
		padding: 9px 17px;
	}
	p {
		font-size: 120%;
		line-height: 100%;
	}
}

@media screen and (max-width: 480px) {
	.content {
		padding-bottom: 50%;
	}
	.content h1 {
		font-size: 250%;
	}
	.btn {
		font-size: 100%;
		padding: 9px 17px;
	}
	p {
		font-size: 100%;
		line-height: 100%;
	}
}

/* Navigation */
header {
	padding: 1em 0 40px;
	text-align: center;
	/* position: relative; */
}

h1 {
	margin: 0 0 1rem;
	font-size: 1.5rem
}

.nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: rgba(65, 65, 70, 0.58);
	display: none;
	position: absolute;
	right: 0;
	top: 8%;
	width: 15em;
}

.nav a {
	display: block;
	padding: 0.5em;
	color: #fff7f7;
	text-decoration: none;
}

.nav a:hover {
	background-color: #333;
	color: #fff;
}

.nav-check {
	position: absolute;
	top: -3em;
}

.nav-check:checked ~ .nav {
	display: block;
}

.nav-label {
	cursor: pointer;
	font-size: 1.25rem;
	display: inline-block;
	width: 40px;
	position: absolute;
	right: 0;
}

.nav-open, .nav-close {
	display: block;
	background: white;
	width: 100%
}

.nav-check:checked ~ .nav-label {
	background: #ccc;
}

.nav-close {
	display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
	display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
	display: block;
}